:root {
  --clr-violet: hsl(257, 40%, 49%);
  --clr-magenta: hsl(300, 69%, 71%);
  --ff-poppy: 'Poppins', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--clr-violet);
  background-image: url('./images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  text-align: center;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* UTILITY STYLES */
.poppy {
  font-family: var(--ff-poppy);
}

.open-sans {
  font-family: var(--ff-open-sans);
}

.bold {
  font-weight: bold;
}

/* COMPONENTS */
.main-container {
  min-height: 100vh;
  padding: 0.75rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.first-outer-container {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 9rem;
}

.second-outer-container > h1 {
  margin-bottom: 0.5rem;
}

button {
  padding: 0.75rem 5rem;
  border-radius: 50px;
  border: none;
  color: var(--clr-violet);
  background-color: white;
  margin-top: 1.5rem;
}

button:hover {
  background-color: var(--clr-magenta);
  color: white;
}

/* Mobile Small to Mobile Medium breakpoint */
@media screen and (min-width: 345px) {
  .main-container {
    padding: 4rem 2.5rem;
    max-height: 100vh;
  }

  .logo-container {
    margin-bottom: 1rem;
  }
}

/* Mobile Large breakpoint */
@media screen and (min-width: 485px) {
  .logo-container {
    margin-bottom: 0.5rem;
  }

  .first-outer-container {
    align-items: center;
  }

  .logo-container {
    width: 75%;
    margin-bottom: 2rem;
  }

  .mockup-container {
    width: 75%;
    margin-bottom: 1em;
  }
}

/* Second Mobile Large breakpoint */
@media screen and (min-width: 655px) {
  body {
    background-image: url('./images/bg-desktop.svg');
  }

  .logo-container {
    width: 65%;
    margin-bottom: 0.75rem;
  }

  .mockup-container {
    width: 65%;
    margin-bottom: 1em;
  }
}

/* generic tablet styles */
@media screen and (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }

  .first-outer-container {
    flex: 1;
    justify-content: center;
  }

  .logo-container {
    width: 100%;
  }

  .mockup-container {
    width: 100%;
  }

  .second-outer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button {
    width: 65%;
    align-self: center;
  }
}

/* breakpoint for ipad tablets */
@media screen and (min-width: 767px) and (min-height: 1024px) {
  .main-container {
    flex-direction: column;
  }

  .first-outer-container {
    flex: 1;
  }

  .logo-container {
    width: 80%;
  }

  .mockup-container {
    width: 80%;
  }

  .second-outer-container {
    flex: 3;
    justify-content: space-around;
  }

  .second-outer-container > h1 {
    font-size: 3rem;
  }

  .second-outer-container > p,
  .second-outer-container > button {
    font-size: 2rem;
  }
}

/* Laptop Breakpoint */
@media screen and (min-width: 1024px) {
  body {
    background-image: url('./images/bg-desktop.svg');
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }

  .main-container {
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    padding: 0 4rem;
    text-align: left;
  }

  .first-outer-container {
    flex: 1;
    margin: 0;
    margin-right: 3rem;
  }

  .second-outer-container {
    flex: 1;
  }
}
